
/*............................................................................*/
/* values in ROOT change through JAVASCRIPT ONLY */

:root
{
  --foundation-w : 0 ;
  --foundation-h : 0 ;

  --game-w :       0 ; 
  --game-h :       0 ;
  --game-radius :  0 ;

  --border-full :  0 ;
  --border-half :  0 ;
}

/*............................................................................*/

html,
body
{
  margin :      0 ;
  width :       100% ;
  height :      100% ;
  cursor :      default ;
  background :  #000 ;
  user-select : none ;
}

/*............................................................................*/

#foundation
{
  background : #444 ;
  width :      var( --foundation-w ) ;
  height :     var( --foundation-h ) ;
}
#game
{
  background :    #888 ;
  width :         var( --game-w ) ;
  height :        var( --game-h ) ;
  border :        0 #DDD solid ;
  border-width :  var( --border-half ) ;
  border-radius : 0 0 var( --game-radius ) var( --game-radius ) ;
}

/*............................................................................*/

.cnt
{
  justify-content : center ;
  align-items :     center ;
  display :         flex ;
}
.cll
{
  width :      5% ;
  height :     calc( 100% / 15 ) ;
  float :      left ;
  color :      rgba( 255 , 255 , 255 , .4 ) ;
  border :     0 #DDD solid ;
  box-sizing : border-box ;
}
.gol
{
  width :         75% ;
  height :        75% ;
  border :        0 #DDD solid ;
  border-width :  var( --border-full ) ;
  border-radius : 50% ;
  box-sizing :    border-box ;
}

.txt_cll{ font-size : calc( var( --foundation-h ) / 50 ) }

.lgt_red{ background : #C00 }
.drk_red{ background : #A00 }
.lgt_grn{ background : #5A0 }
.drk_grn{ background : #580 }
.lgt_blu{ background : #50C }
.drk_blu{ background : #509 }

.ssns{ border-width : var( --border-half ) var( --border-half ) 0 var( --border-half ) }
.sdns{ border-width : var( --border-half ) var( --border-half ) 0 var( --border-half ) ; border-right-style : dashed }
.ssnd{ border-width : var( --border-half ) var( --border-half ) 0 var( --border-half ) ; border-left-style : dashed }
.nsss{ border-width : 0 var( --border-half ) var( --border-half ) var( --border-half ) ; }
.ndss{ border-width : 0 var( --border-half ) var( --border-half ) var( --border-half ) ; border-right-style : dashed }
.nssd{ border-width : 0 var( --border-half ) var( --border-half ) var( --border-half ) ; border-left-style : dashed }
.snns{ border-width : var( --border-half ) 0 0 var( --border-half ) }
.ssnn{ border-width : var( --border-half ) var( --border-half ) 0 0 }
.snss{ border-width : var( --border-half ) 0 var( --border-half ) var( --border-half ) }
.snnn{ border-width : var( --border-half ) 0 0 0 }
.sdnn{ border-width : var( --border-half ) var( --border-half ) 0 0 ; border-right-style : dashed }
.snnd{ border-width : var( --border-half ) 0 0 var( --border-half ) ; border-left-style : dashed }
.sssn{ border-width : var( --border-half ) var( --border-half ) var( --border-half ) 0 }

