
:root /* JS ONLY */
{
  --foundation-w : 0 ;
  --foundation-h : 0 ;
  --game-w :       0 ; 
  --game-h :       0 ;
}

:root /* CSS only */
{
  --game-radius :     calc( var( --foundation-h ) / 20 ) ;
  --border-full :     calc( var( --foundation-h ) / 400 ) ;
  --border-half :     calc( var( --border-full ) / 2 ) ;
  --border-double :   calc( var( --border-full ) * 2 ) ;
  --cell-w :          calc( var( --game-w ) / 20 ) ;
  --cell-h :          calc( var( --game-h ) / 14 ) ;
  --field-middle-w :  calc( var( --game-w ) / 2 ) ;
  --field-middle-h :  calc( var( --game-h ) / 14 * 12 / 2 ) ;
  --goal-size :       calc( var( --cell-w ) / 4 * 3 ) ;
  --art-square-size : calc( ( var( --cell-w ) - var( --border-double ) * 2 ) / 7 ) ;
  --white :           #DDD ;
}

/*............................................................................*/

html,
body
{
  margin :      0 ;
  width :       100% ;
  height :      100% ;
  cursor :      default ;
  background :  #000 ;
  user-select : none ;
  font-family : sans ;
}

/*............................................................................*/

#foundation
{
  background : #444 ;
  width :      var( --foundation-w ) ;
  height :     var( --foundation-h ) ;
}
#game
{
  background :    var( --white ) ;
  width :         var( --game-w ) ;
  height :        var( --game-h ) ;
  border :        0 var( --white ) solid ;
  border-width :  var( --border-half ) ;
  border-radius : 0 0 var( --game-radius ) var( --game-radius ) ;
}
#middle
{
  width :         var( --goal-size ) ;
  height :        var( --goal-size ) ;
  border :        calc( var( --border-full ) * 1.1 ) #FFF dashed;
  border-radius : 50% ;
  box-sizing :    border-box ;
  position :      relative ;
  transform :     translatex( calc( var( --field-middle-w ) - var( --goal-size ) / 2 ) )
                  translatey( calc( var( --field-middle-h ) - var( --goal-size ) / 2 ) ) ;
}

/*............................................................................*/

.cnt
{
  justify-content : center ;
  align-items :     center ;
  display :         flex ;
}
.cll
{
  width :      var( --cell-w ) ;
  height :     var( --cell-h ) ;
  float :      left ;
  color :      rgba( 255 , 255 , 255 , .4 ) ;
  border :     0 var( --white ) solid ;
  box-sizing : border-box ;
}
.gol
{
  width :         var( --goal-size ) ;
  height :        var( --goal-size ) ;
  border :        0 var( --white ) solid ;
  border-width :  var( --border-full ) ;
  border-radius : 50% ;
  box-sizing :    border-box ;
}
.bnc
{
  background :    #AAA ;
  border-color :  var( --white ) ;
  border-style :  solid ;
  border-width :  var( --border-double ) ;
  border-radius : 50% ;
  box-sizing :    border-box ;
}
.sqr_art
{
  fill :   rgba( 255 , 255 , 255 , .7 ) ;
  width :  var( --art-square-size ) ;
  height : var( --art-square-size ) ;
}

.txt_cll{ font-size : calc( var( --foundation-h ) / 60 ) ; font-weight : bold }

.lgt_red{ background : #C00 }
.drk_red{ background : #A00 }
.lgt_grn{ background : #5A0 }
.drk_grn{ background : #580 }
.lgt_blu{ background : #50C }
.drk_blu{ background : #509 }

.sdns{ border-width : var( --border-half ) var( --border-half ) 0 var( --border-half ) ; border-right-style : dashed }
.ssnd{ border-width : var( --border-half ) var( --border-half ) 0 var( --border-half ) ; border-left-style : dashed }
.sdnn{ border-width : var( --border-half ) var( --border-half ) 0 0 ; border-right-style : dashed }
.snnd{ border-width : var( --border-half ) 0 0 var( --border-half ) ; border-left-style : dashed }
.ssns{ border-width : var( --border-half ) var( --border-half ) 0 var( --border-half ) }
.snss{ border-width : var( --border-half ) 0 var( --border-half ) var( --border-half ) }
.sssn{ border-width : var( --border-half ) var( --border-half ) var( --border-half ) 0 }
.snns{ border-width : var( --border-half ) 0 0 var( --border-half ) }
.ssnn{ border-width : var( --border-half ) var( --border-half ) 0 0 }
.snnn{ border-width : var( --border-half ) 0 0 0 }

.ndss{ border-width : 0 var( --border-half ) var( --border-half ) var( --border-half ) ; border-right-style : dashed }
.nssd{ border-width : 0 var( --border-half ) var( --border-half ) var( --border-half ) ; border-left-style : dashed }
.ndns{ border-width : 0 var( --border-half ) 0 var( --border-half ) ; border-right-style : dashed }
.ndsn{ border-width : 0 var( --border-half ) var( --border-half ) 0 ; border-right-style : dashed }
.nnsd{ border-width : 0 0 var( --border-half ) var( --border-half ) ; border-left-style : dashed }
.nsnd{ border-width : 0 var( --border-half ) 0 var( --border-half ) ; border-left-style : dashed }
.ndnn{ border-width : 0 var( --border-half ) 0 0 ; border-right-style : dashed }
.nnnd{ border-width : 0 0 0 var( --border-half ) ; border-left-style : dashed }
.nsss{ border-width : 0 var( --border-half ) var( --border-half ) var( --border-half ) }
.nnss{ border-width : 0 0 var( --border-half ) var( --border-half ) }
.nssn{ border-width : 0 var( --border-half ) var( --border-half ) 0 }
.nnns{ border-width : 0 0 0 var( --border-half ) }
.nnsn{ border-width : 0 0 var( --border-half ) 0 }
.nsnn{ border-width : 0 var( --border-half ) 0 0 }

.nnnn{} /* exists for the sake of code visualization */

