
/*....................................................................................................................*/

/* n : none */
/* s : solid */
/* d : dashed */

.sdns{ border-width : var( --border-half ) var( --border-half ) 0 var( --border-half ) ; border-right-style : dashed }
.ssnd{ border-width : var( --border-half ) var( --border-half ) 0 var( --border-half ) ; border-left-style : dashed }
.sdnn{ border-width : var( --border-half ) var( --border-half ) 0 0 ; border-right-style : dashed }
.snnd{ border-width : var( --border-half ) 0 0 var( --border-half ) ; border-left-style : dashed }
.ssns{ border-width : var( --border-half ) var( --border-half ) 0 var( --border-half ) }
.snss{ border-width : var( --border-half ) 0 var( --border-half ) var( --border-half ) }
.sssn{ border-width : var( --border-half ) var( --border-half ) var( --border-half ) 0 }
.snns{ border-width : var( --border-half ) 0 0 var( --border-half ) }
.ssnn{ border-width : var( --border-half ) var( --border-half ) 0 0 }
.snnn{ border-width : var( --border-half ) 0 0 0 }

.ndss{ border-width : 0 var( --border-half ) var( --border-half ) var( --border-half ) ; border-right-style : dashed }
.nssd{ border-width : 0 var( --border-half ) var( --border-half ) var( --border-half ) ; border-left-style : dashed }
.ndns{ border-width : 0 var( --border-half ) 0 var( --border-half ) ; border-right-style : dashed }
.ndsn{ border-width : 0 var( --border-half ) var( --border-half ) 0 ; border-right-style : dashed }
.nnsd{ border-width : 0 0 var( --border-half ) var( --border-half ) ; border-left-style : dashed }
.nsnd{ border-width : 0 var( --border-half ) 0 var( --border-half ) ; border-left-style : dashed }
.ndnn{ border-width : 0 var( --border-half ) 0 0 ; border-right-style : dashed }
.nnnd{ border-width : 0 0 0 var( --border-half ) ; border-left-style : dashed }
.nsss{ border-width : 0 var( --border-half ) var( --border-half ) var( --border-half ) }
.nnss{ border-width : 0 0 var( --border-half ) var( --border-half ) }
.nssn{ border-width : 0 var( --border-half ) var( --border-half ) 0 }
.nnns{ border-width : 0 0 0 var( --border-half ) }
.nnsn{ border-width : 0 0 var( --border-half ) 0 }
.nsnn{ border-width : 0 var( --border-half ) 0 0 }

.nnnn{} /* exists for the sake of code visualization */

