
/*....................................................................................................................*/

html,
body
{
  margin      : 0 ;
  width       : 100% ;
  height      : 100% ;
  cursor      : default ;
  background  : #000 ;
  user-select : none ;
  font-family : sans ;
}

