
/*....................................................................................................................*/

#foundation
{
  background : #000 ;
  width      : var( --foundation-w ) ;
  height     : var( --foundation-h ) ;
}

/*....................................................................................................................*/

#game
{
  background    : var( --white ) ;
  width         : var( --game-w ) ;
  height        : var( --game-h ) ;
  border        : 0 var( --white ) solid ;
  border-width  : var( --border-half ) ;
  border-radius : 0 0 var( --game-radius ) var( --game-radius ) ;
}

/*....................................................................................................................*/

#middle
{
  width         : calc( var( --goal-size ) / 3 ) ;
  height        : calc( var( --goal-size ) / 3 ) ;
  background    : var( --white ) ;
  box-sizing    : border-box ;
  border-radius : 50% ;
  position      : absolute ;
  transform     : translatex( calc( var( --field-middle-w ) - var( --goal-size ) / 6 ) )
                  translatey( calc( var( --field-middle-h ) - var( --goal-size ) / 6 ) ) ;
}

/*....................................................................................................................*/

#ball
{
  width         : var( --athlete-size ) ;
  height        : var( --athlete-size ) ;
  border-radius : 50% ;
  border-color  : var( --white ) ;
  border-width  : var( --border-full ) ;
  border-style  : solid ;
  box-sizing    : border-box ;
  background    : rgba( 0 , 0 , 0 , 0.7 ) ;
  position      : absolute ;
  transition    : background .3s ease-in-out ;
}

#ball:hover
{
  background : rgba( 111 , 95 , 63 , .8 ) ;
}

/*....................................................................................................................*/

#aim
{
  width         : var( --athlete-size ) ;
  height        : var( --athlete-size ) ;
  border-radius : 50% ;
  border-color  : var( --white ) ;
  border-width  : var( --border-full ) ;
  border-style  : solid ;
  box-sizing    : border-box ;
  background    : rgba( 255 , 255 , 255 , .3 ) ;
  position      : absolute ;
}

/*....................................................................................................................*/

#game_console
{
  width         : calc( var( --cell-size ) * 10 ) ;
  height        : var( --cell-size ) ;
  background    : #666 ;
  border-radius : calc( var( --cell-size ) / 2 )  ;
  font-size     : calc( var( --game-w ) / 60 ) ;
  color         : var( --white ) ;
}

