
/*....................................................................................................................*/

html
{
  width            : 100% ;
  height           : 100% ;
  background       : #000 ;
  font-family      : sans ;
  cursor           : default ;
  user-select      : none ;
  -moz-user-select : none
}

body
{
  width  : var( --body-w ) ;
  height : var( --body-h ) ;
  margin : 0
}

/*....................................................................................................................*/

.cnt /* center */
{
  display         : flex ;
  align-items     : center ;
  justify-content : center
}

.gol /* goal */
{
  width         : var( --goal-size ) ;
  height        : var( --goal-size ) ;
  background    : rgba( 255 , 255 , 255 , 0.2 ) ;
  border        : var( --border-full ) solid var( --white ) ;
  border-radius : 50% ;
  box-sizing    : border-box
}

.itf /* interface */
{
  float         : left ;
  border        : var( --border-double ) solid var( --white ) ;
  box-sizing    : border-box
}

.lgt /* light */
{
  width         : 5% ;
  height        : var( --cell-size ) ;
  background    : #AAA ;
  border-radius : 50% ;
  position      : relative
}

.tra{ transition : all 0.3s } /* transition */

/*....................................................................................................................*/

.bnc /* bench */
{
  width         : 5% ;
  height        : calc( 100% / 14 ) ;
  background    : #AAA ;
  border-radius : 50%
}

.bnc_fil /* bench fill */
{
  fill   : rgba( 255 , 255 , 255 , 0.5 ) ;
  stroke : #AAA
}

/*....................................................................................................................*/

.btn /* button */
{
  width         : 5% ;
  height        : var( --cell-size ) ;
  color         : var( --white ) ;
  font-size     : calc( var( --board-w ) / 90 ) ;
  background    : #666 ;
  border-radius : 50% ;
  box-shadow    :
    0 0 0 var( --border-half ) #666 inset ,
    0 0 0 var( --border-full ) var( --white ) inset
}

.btn:hover{ background : #888 }

/*....................................................................................................................*/

.cll /* cell */
{
  width      : 5% ;
  height     : calc( 100% / 14 ) ;
  color      : rgba( 255 , 255 , 255 , 0.2 ) ;
  float      : left ;
  border     : 0 var( --white ) solid ;
  box-shadow : 0 0 0 var( --border-full ) rgba( 0 , 0 , 0 , 0.1 ) inset ;
  box-sizing : border-box
}

.cll_txt /* cell text */
{
  font-size   : calc( var( --board-w ) / 70 ) ;
  font-weight : bold
}

/*....................................................................................................................*/
/* goal fixes */

.fix_lft{ margin-left   : var( --border-half ) } /* fix left */
.fix_rgt{ margin-right  : var( --border-half ) } /* fix right */
.fix_bot{ margin-bottom : var( --border-half ) } /* fix bottom */
.fix_top{ margin-top    : var( --border-half ) } /* fix top */

/*....................................................................................................................*/
/* cell colors */

.red_lgt{ background : #800 } /* red light */
.red_drk{ background : #700 } /* red dark */
.grn_lgt{ background : #580 } /* green light */
.grn_drk{ background : #570 } /* green dark */
.blu_lgt{ background : #480080 } /* blue light */
.blu_drk{ background : #400068 } /* blue dark */

/*....................................................................................................................*/

.slc /* select */
{
  border-color : #F80 ;
  box-sizing   : border-box ;
  animation    : select 0.5s 1 0s ease-in forwards ;
  box-shadow   :
    0 0 var( --border-double ) 0 rgb( 255 , 95 , 0 ) ,
    0 0 var( --border-double ) 0 rgb( 255 , 95 , 0 ) inset
}

@keyframes select
{
   30%{ border-width : calc( var( --border-double ) * 2 ) }
   70%{ border-width : var( --border-full ) }
  100%{ border-width : var( --border-double ) }
}

/*....................................................................................................................*/

.glw{ animation : glow 1.5s infinite 0s linear } /* glow */

@keyframes glow
{
    0%{ fill : rgba( 255 , 255 , 255 , 0.4 ) }
   50%{ fill : var( --white ) ; color : var( --white ) ; text-shadow : 0 0 var( --border-double ) var( --white ) }
  100%{ fill : rgba( 255 , 255 , 255 , 0.4 ) }
}

/*....................................................................................................................*/

.pat{ animation : path 4s infinite 0s ease-in } /* path */

@keyframes path
{
    0%{ border : var( --border-double ) solid #D00                       ; border-radius : 0 }
    5%{ border : calc( var( --border-double ) * 2 ) solid var( --white ) ; border-radius : 50% }
   10%{ border : calc( var( --border-double ) * 3 ) solid var( --white ) ; border-radius : 50% }
   15%{ border : calc( var( --border-double ) * 2 ) solid var( --white ) ; border-radius : 50% }
   20%{ border : var( --border-double ) solid #D00                       ; border-radius : 0 }
  100%{ border : var( --border-double ) solid #D00 }
}
