
/*....................................................................................................................*/

.cnt /* center */
{
  justify-content : center ;
  align-items     : center ;
  display         : flex ;
}

/*....................................................................................................................*/

.cll /* cell */
{
  width      : var( --cell-size ) ;
  height     : var( --cell-size ) ;
  float      : left ;
  color      : rgba( 255 , 255 , 255 , .4 ) ;
  border     : 0 var( --white ) solid ;
  box-sizing : border-box ;
  box-shadow : 0 0 0 var( --border-full ) rgba( 0 , 0 , 0 , .1 ) inset ;
}

.txt_cll /* text cell */
{
  font-size   : calc( var( --game-w ) / 70 ) ;
  font-weight : bold ;
}

/*....................................................................................................................*/

.gol /* goal */
{
  width         : var( --goal-size ) ;
  height        : var( --goal-size ) ;
  border        : 0 var( --white ) solid ;
  border-width  : var( --border-full ) ;
  border-radius : 50% ;
  box-sizing    : border-box ;
  background    : rgba( 255 , 255 , 255 , .3 ) ;
}

/*....................................................................................................................*/

.bnc /* bench */
{
  width         : var( --cell-size ) ;
  height        : var( --cell-size ) ;
  background    : #AAA ;
  border-radius : 50% ;
}

/*....................................................................................................................*/

.lgt /* light */
{
  width         : var( --cell-size ) ;
  height        : var( --cell-size ) ;
  background    : #AAA ;
  border-radius : 50% ;
  position      : relative ;
}

/*....................................................................................................................*/

.btn /* button */
{
  width         : var( --cell-size ) ;
  height        : var( --cell-size ) ;
  background    : #666 ;
  border-radius : 50% ;
  box-shadow    : 0 0 0 var( --border-half ) #666 inset ,
                  0 0 0 var( --border-full ) var( --white ) inset ;
}

.btn:hover
{
  background : #888 ;
}

/*....................................................................................................................*/

.itf /* interface */
{
  float         : left ;
  border-color  : var( --white ) ;
  border-style  : solid ;
  border-width  : var( --border-double ) ;
  box-sizing    : border-box ;
}

/*....................................................................................................................*/

.inn /* inner circles */
{
  position      : absolute ;
  border-color  : rgba( 255 , 255 , 255 , .3 ) ;
  border-style  : solid ;
  border-width  : var( --border-full ) ;
  box-sizing    : border-box ;
  border-radius : 50% ;
}

.inn_0{ width : 90% ; height : 90% }
.inn_1{ width : 70% ; height : 70% }
.inn_2{ width : 50% ; height : 50% }

/*....................................................................................................................*/

.slc /* select */
{
  border-color              : #F80 ;
  box-sizing                : border-box ;
  box-shadow                : 0 0 var( --border-double ) 0 rgb( 255 , 95 , 0 ) ,
                              0 0 var( --border-double ) 0 rgb( 255 , 95 , 0 ) inset ;

  animation-name            : select ;
  animation-iteration-count : 1 ;
  animation-duration        : .5s ;
  animation-timing-function : ease ;
  animation-fill-mode       : forwards ;
}

@keyframes select
{
  30%{ border-width : calc( var( --border-double ) * 2 ) }
  70%{ border-width : var( --border-half ) }
  100%{ border-width : var( --border-double ) }
}

/*....................................................................................................................*/

.red_lgt{ background : #A00 }
.red_drk{ background : #900 }
.grn_lgt{ background : #5A0 }
.grn_drk{ background : #580 }
.blu_lgt{ background : #50C }
.blu_drk{ background : #509 }

