
/*....................................................................................................................*/

.lgt /* light */
{
  width         : 5% ;
  height        : var( --cell-size ) ;
  background    : #AAA ;
  border-radius : 50% ;
  position      : relative
}

/*....................................................................................................................*/

.rng /* ring */
{
  position      : absolute ;
  border        : var( --border-full ) var( --white ) solid ;
  border-radius : 50% ;
  box-sizing    : border-box ;
  opacity       : 0.2
}

/*....................................................................................................................*/

.rng_a{ width : 100% ; height : 100% ; animation : wobble_a 2s ease 0s infinite }
.rng_b{ width : 88% ; height : 88% ; animation : wobble_b 2s ease 0s infinite }
.rng_c{ width : 66% ; height : 66% ; animation : wobble_c 2s ease 0s infinite }
.rng_d{ width : 44% ; height : 44% ; animation : wobble_d 2s ease 0s infinite }

@keyframes wobble_a
{
  0%{ border-width : 0 }
  25%{ border-width : calc( var( --border-full ) * 1.7 ) ; opacity : 1 }
  35%{ border-width : 0 }
  100%{ border-width : 0 }
}
@keyframes wobble_b
{
  0%{ border-width : var( --border-full ) }
  20%{ border-width : calc( var( --border-full ) * 1.7 ) ; opacity : 1 }
  30%{ border-width : var( --border-full ) }
  100%{ border-width : var( --border-full ) }
}
@keyframes wobble_c
{
  0%{ border-width : var( --border-full ) }
  15%{ border-width : calc( var( --border-full ) * 1.7 ) ; opacity : 1 }
  25%{ border-width : var( --border-full ) }
  100%{ border-width : var( --border-full ) }
}
@keyframes wobble_d
{
  0%{ border-width : var( --border-full ) }
  10%{ border-width : calc( var( --border-full ) * 1.7 ) ; opacity : 1 }
  20%{ border-width : var( --border-full ) }
  100%{ border-width : var( --border-full ) }
}

