
/*....................................................................................................................*/

.zon /* zones */
{
  width         : var( --cell-size ) ;
  height        : var( --cell-size ) ;
  border-radius : 50% ;
  border-width  : var( --border-double ) ;
  border-color  : #FA0 ;
  border-style  : dotted ;
  position      : absolute ;
  box-sizing    : border-box ;

  animation-name            : rotate ;
  animation-iteration-count : infinite ;
  animation-duration        : 4s ;
  animation-timing-function : linear ;
}

.zon:hover
{
  border-color : #FC0 ;
  border-style : solid ;
  box-shadow   : 0 0 var( --border-double ) 0 #F60 ,
                 0 0 var( --border-double ) 0 #F60 inset ;
}

@keyframes rotate{ 100%{ transform : rotate( 360deg ) } }

/*....................................................................................................................*/

.zon_nop{ border-width : calc( var( --border-full ) * 1.25 ) }

/*....................................................................................................................*/

.zon_red{ border-color : #F00 }
.zon_red:hover
{
  border-color : #F40 ;
  box-shadow   : 0 0 var( --border-double ) 0 #F00 ,
                 0 0 var( --border-double ) 0 #F00 inset ;
}

.zon_blk{ border-color : #000 }
.zon_blk:hover
{
  border-color : #444 ;
  box-shadow   : 0 0 var( --border-double ) 0 #000 ,
                 0 0 var( --border-double ) 0 #000 inset ;
}

